@font-face{
  src: local(GreatVibes-Regular), url(./fonts/GreatVibes-Regular.otf) format("opentype");
  font-family: GreatVibes;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.NavBarFantome{
  height: 56px;
}

@media screen  and (max-width: 720px){
        
  .NavBarFantome{
    height: 67px;
  }

}